path {
    stroke: black;
    pointer-events: all;
}

.Atlantico {
	fill: none;
	fill-rule: evenodd;
	stroke: #ffffff;
	stroke-width: 0.70566702;
	stroke-opacity:1
}

.Freguesias {
	fill: #ffefd5;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #a1;
	stroke-width: 0.2;
	stroke-opacity: 1;
}

.Freguesias:hover {
	fill: #71a3f5;
}

.Freguesias:active {
	fill: blue;
}

.Concelhos {
	fill: #ffefd5;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #a1;
	stroke-width: 0.3;
	stroke-opacity: 1;
}

.Concelhos:hover {
	fill: orange;
}

.Concelhos:active {
	fill: green;
}

.Distritos {
	fill: #ffefd5;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #a1;
	stroke-width: 0.4;
	stroke-opacity: 1;
}

.Distritos:hover {
	fill: red;
}

.Distritos:active {
	fill: black;
}