container, span {
	font-size:24px;
}

path {
    stroke: black;
    pointer-events: all;
}

.map {
	float:left;
}

.País {
	fill: #ffefd5;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #a1;
	stroke-width: 0.8;
	stroke-opacity: 1;
}

.País:hover {
	fill: red;
}

.País:active {
	fill: black;
}

.Atlantico {
	fill: none;
	fill-rule: evenodd;
	stroke: #ffffff;
	stroke-width: 1.4;
	stroke-opacity:1
}

.Ilhas {
	fill: #ffefd5;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #a1;
	stroke-width: 0.6;
	stroke-opacity: 1;
}

.Ilhas:hover {
	fill: red;
}

.Ilhas:active {
	fill: black;
}

.Ilhas {
	fill: #ffefd5;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #a1;
	stroke-width: 0.1;
	stroke-opacity: 1;
}

.Distritos {
	fill: #ffefd5;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #a1;
	stroke-width: 0.6;
	stroke-opacity: 1;
}

.Distritos:hover {
	fill: red;
}

.Distritos:active {
	fill: black;
}

.Concelhos {
	fill: #ffefd5;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #a1;
	stroke-width: 0.4;
	stroke-opacity: 1;
}

.Concelhos:hover {
	fill: orange;
}

.Freguesias {
	fill: #ffefd5;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #a1;
	stroke-width: 0.1;
	stroke-opacity: 1;
}

.Freguesias:hover {
	fill: #71a3f5;
}

.Freguesias:active {
	fill: blue;
}

.Concelhos:active {
	fill: green;
}

.exfreg {
	fill: #ffefd5;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #a1;
	stroke-width: 0.05;
	stroke-opacity: 1;
}

.exfreg:hover {
	fill: cyan;
}

.exfreg:active {
	fill: dodgerblue;
}

.locs {
	fill: #ffefd5;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #a1;
	stroke-width: 0.04;
	stroke-opacity: 1;
}

.locs:hover {
	fill: navy;
}

.locs:active {
	fill: indigo;
}

.pins {
	fill: black;
	stroke-width:0.00064;
}